<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fury.sqlite" >

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.DataMaintenanceActivity"
            android:label="@string/title_activity_data_maintenance" >
        </activity>
        <activity
            android:name=".Activity.DataSearchActivity"
            android:label="@string/title_activity_data_search" >
        </activity>
        <activity
            android:name=".Activity.DataStatisticsActivity"
            android:label="@string/title_activity_data_statistics" >
        </activity>
        <activity
            android:name=".Activity.MtnDataInsert"
            android:label="@string/title_activity_mtn_data_insert" >
        </activity>
        <activity
            android:name=".Activity.InfWithStuNum"
            android:label="@string/title_activity_inf_with_stu_num" >
        </activity>
        <activity
            android:name=".Activity.InfWithStuName"
            android:label="@string/title_activity_inf_with_stu_name" >
        </activity>
        <activity
            android:name=".Activity.InfWithCouNum"
            android:label="@string/title_activity_inf_with_cou_num" >
        </activity>
        <activity
            android:name=".Activity.InfWithCouName"
            android:label="@string/title_activity_inf_with_cou_name" >
        </activity>
        <activity
            android:name=".Activity.MtnDataDelete"
            android:label="@string/title_activity_mtn_data_delete" >
        </activity>
        <activity
            android:name=".Activity.MtnDataModify"
            android:label="@string/title_activity_mtn_data_modify" >
        </activity>
    </application>

</manifest>
